@use "../../globals/" as *;

:root {
    --PrimaryColor: #0073a8;
    --SecondaryColor: #10b5cb;
    --gradientColor: linear-gradient(to right, #10b5cb, #0073a8);
    --whiteColor: #fff;
    --blackColor: #1b2d36;
    --textColor: #58585f;
    --whiteColorDeam: #ededed;
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 225);
}

.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--whiteColorDeam);
    width: 100%;
    padding: 1.5rem 2rem;
    box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);

    z-index: 1000;

    // @include mq("md") {
    //     padding: 1rem;
    // }

    .logo {
        justify-content: center;
        align-items: center;
        color: var(--blackColor);
        font-weight: 600;
        cursor: pointer;

        .icon {
            font-size: 25px;
            color: var(--PrimaryColor);
            transform: translateY(5px);
        }
    }

    .navBar {
        @include mq("md") {
            position: absolute;
            top: -500rem;
            left: 50%;
            translate: -50%;
            width: 80%;
            height: max-content;
            padding: 1rem;
            background: var(--whiteColorDeam);
            border-radius: 1rem;
            box-shadow: 0 2px 4px rgba(2, 15, 29, 0.904);
            transition: 0.5s ease-in-out;

            z-index: 2000;

            &.activeNavbar {
                top: 7rem;
            }
        }

        .navLists {
            justify-content: center;
            flex-direction: row;
            width: 100%;
            margin: auto;
            padding: 0.5rem 0;

            @include mq("md") {
                flex-direction: column;
            }

            .navItem {
                padding: 0.5rem 0;

                .navLink {
                    color: var(--textColor);
                    font-size: 0.9rem;
                    font-weight: 500;
                    padding: 0 0.45rem;

                    @include mq("md") {
                        font-weight: 600;
                    }

                    &:hover {
                        color: var(--PrimaryColor);
                    }
                }
            }

            .btn {
                margin-left: 1rem;

                @include mq("md") {
                    margin-top: 1em;
                }

                a {
                    font-weight: 500;
                    color: var(--whiteColor);

                    @include mq("md") {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

.closeNavbar {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    display: none;
    color: var(--PrimaryColor);

    @include mq("md") {
        display: block;
    }

    &:hover {
        color: var(--SecondaryColor);
    }
}

.toggleNavbar {
    display: none;

    @include mq("md") {
        display: block;
    }

    .icon {
        font-size: 25px;
        color: var(--PrimaryColor);

        &:hover {
            color: var(--SecondaryColor);
        }
    }
}
