@use "../../globals/" as *;

:root {
    --PrimaryColor: #0073a8;
    --SecondaryColor: #10b5cb;
    --gradientColor: linear-gradient(to right, #10b5cb, #0073a8);
    --whiteColor: #fff;
    --blackColor: #1b2d36;
    --textColor: #58585f;
    --whiteColorDeam: #ededed;
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239, 239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 225);
}

.footer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 0;
    margin: auto;

    .videoDiv {
        position: absolute;
        width: 100%;
        height: 100%;

        video {
            height: 100%;
            object-fit: cover;
        }

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: rgba(10, 84, 107, 0.307);
            mix-blend-mode: multiply;
        }
    }

    .secContent {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: max-content;
        padding: 2rem initial;
        margin: auto;
        row-gap: 2rem;
        z-index: 100;

        .contactDiv {
            justify-content: space-between;
            flex-direction: row;
            gap: 1rem;

            @include mq("659") {
                flex-direction: column;
            }

            .text {
                small {
                    font-size: 13px;
                    font-weight: 400;
                    color: var(--whiteColor);
                }

                h2 {
                    color: var(--whiteColor);
                    font-size: 1.8rem;
                }
            }

            .inputDiv {
                width: max-content;
                gap: 1rem;
                flex-direction: row;

                @include mq("659") {
                    width: 100%;
                    flex-direction: column;
                    justify-content: flex-start;
                }

                input {
                    width: 60%;
                    padding: 0.5rem 0.6rem;
                    border-radius: 3rem;
                    border: 1px solid var(--whiteColor);
                    outline: none;
                    background: transparent;
                    color: var(--whiteColor);

                    @include mq("659") {
                        width: 100%;
                    }

                    &::placeholder {
                        color: var(--whiteColor);
                        opacity: 0.5;
                    }
                }
            }

            .btn {
                width: max-content;
                justify-content: center;
                color: var(--whiteColor);
                font-weight: 500;
                gap: 0.5rem;

                @include mq("659") {
                    width: 100%;
                }

                .icon {
                    font-size: 18px;
                }
            }
        }

        .footerCard {
            position: relative;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            width: 100%;
            padding: 3rem 1rem;
            gap: 2rem;
            border-radius: 1rem;
            background: var(--bodyColor);
            overflow: hidden;

            @include mq("1023") {
                padding: 1rem 1rem 4rem;
            }

            .footerIntro {
                flex-basis: 50%;
                justify-content: center;
                align-items: flex-start;
                flex-direction: column;
                row-gap: 0.5rem;
            }

            .logoDiv {
                .logo {
                    color: var(--blackColor);
                    font-weight: 600;

                    .icon {
                        font-size: 25px;
                        color: var(--PrimaryColor);
                        margin-right: 10px;
                    }
                }
            }

            .footerParagraph {
                font-size: 13px;
                color: var(--textColor);
            }

            .footerSocials {
                column-gap: 0.5rem;

                .icon {
                    font-size: 20px;
                    color: var(--blackColor);

                    &:hover {
                        color: var(--PrimaryColor);
                    }
                }
            }

            .footerLinks {
                flex-basis: 50%;
                width: 100%;
                gap: 1rem;
                grid-template-columns: repeat(3, 1fr);
                justify-content: space-between;
                padding-bottom: 1rem;

                @include mq("499") {
                    grid-template-columns: repeat(2, 1fr);
                    padding-bottom: 0;
                }

                .linkGroup {
                    .groupTitle {
                        display: block;
                        font-weight: 600;
                        color: var(--blackColor);
                        margin-bottom: 0.5rem;
                    }

                    .footerList {
                        font-size: 15px;
                        color: var(--textColor);
                        transition: 0.3s ease-in-out;

                        .icon {
                            font-size: 15px;
                            color: var(--greyText);
                        }

                        &:hover {
                            color: var(--PrimaryColor);
                            transform: translateX(7px);

                            .icon {
                                color: var(--SecondaryColor);
                            }
                        }
                    }
                }
            }

            .footerDiv {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                justify-content: space-between;
                flex-direction: row;
                background: var(--SecondaryColor);
                padding: 0.5rem 2rem;

                @include mq("499") {
                    justify-content: center;
                    flex-direction: column;
                }

                small {
                    font-size: fluid-text(10px, 14px);
                    color: var(--whiteColor);

                    &:nth-child(2) {
                        font-size: 9.5px;
                    }
                }
            }
        }
    }
}
